.middlerow{
background-color:lightgreen;
}

.heading{
padding-top:25px;
text-align:center;
font-size:40px;
font-weight:bold;
font-style:normal;
font-family:"Times New Roman";
color:pink;
}
.background{
background-color:grey;
}

.aboutgitam ul{
font-family:"Roboto";
font-size:25px;
margin:25px;
text-decoration:underline;
background-color:grey;
}
.main p{
font-family:Arial;
font-size:15px;
text-align:justify-center;
color:blue;
}
.main h1{
font-size:25px;
color:grey;
}
.main{
background-color:pink;

}
.aboutgitam{
background-color:lightblue;
}
middlerow p{
color:blue;
font-size:50px;
font-weight:bold;
}
